body {margin: 2%;}
h2 {margin: .5rem 0;}
.flex {

    display: flex;
    
    justify-content: center;
    
    flex-wrap: wrap;
    
    }
.flexColumn {

    display: flex;
        
    flex-direction: column;
    
    margin: 0 1rem;
    
    width: 20%;
        
    }
.hidden{display:none}
#answer{
    width: 8rem;
    height: 2.5rem;
}
.option{

    border: solid 2px #000;
            
        width: 8rem;
           
        height: 2.5rem;

        text-align: center;
            
        cursor: pointer;
        align-self: center;
           
    }
.option{
        position: relative;
        background-color: #04AA6D;
        border: none;
        font-size: 28px;
        color: #FFFFFF;
        width: 8rem;
        text-align: center;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
      }
      
.option:after{
        content: "";
        background: #90EE90;
        display: block;
        position: absolute;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }
      
.option:active:after{
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
}
.button {

    background-color: #4CAF50;                     
        
    padding: .2rem;
        
    margin: 1rem;
        
    font-size: 1.3rem;
        
    color: #fff;
        
    }
.button:hover {

    color: red;
        
    cursor: pointer;
        
    }
.number {font-size: 3rem;}

.suit {width: 100%;}

.suit img {

    padding:.1rem;
    
    width: 15%;
    
    }
.player {

    border: solid 1px #000;
        
    width: 12rem;
        
    height: 17rem;
        
    text-align:center;
        
    }
.PLable {
    font-size: medium;
}

@media only screen and (max-width: 850px){

    .flex{
        
        flex-direction: column;
        
    }

    .flexColumn {

        margin: 1rem;
        
    }
}
.winner {
    margin-top:10%;
    align-content: center;
    }
span {

    margin-left: 1rem;
        
    }
input {

    margin: 1rem 0;
        
    }
p {
    max-width: 6rem;
    font-size: 1rem;
    align-self: center;
    }
    